<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium adipisci alias aliquam animi aspernatur, autem consectetur dignissimos dolore et excepturi facilis fugit incidunt iure natus necessitatibus porro possimus quas qui quibusdam quos rerum sed tempore unde ut velit veniam! Ad aspernatur aut cum deserunt enim facere inventore voluptatem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium adipisci alias aliquam animi aspernatur, autem consectetur dignissimos dolore et excepturi facilis fugit incidunt iure natus necessitatibus porro possimus quas qui quibusdam quos rerum sed tempore unde ut velit veniam! Ad aspernatur aut cum deserunt enim facere inventore voluptatem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium adipisci alias aliquam animi aspernatur, autem consectetur dignissimos dolore et excepturi facilis fugit incidunt iure natus necessitatibus porro possimus quas qui quibusdam quos rerum sed tempore unde ut velit veniam! Ad aspernatur aut cum deserunt enim facere inventore voluptatem!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium adipisci alias aliquam animi aspernatur, autem consectetur dignissimos dolore et excepturi facilis fugit incidunt iure natus necessitatibus porro possimus quas qui quibusdam quos rerum sed tempore unde ut velit veniam! Ad aspernatur aut cum deserunt enim facere inventore voluptatem!</p>
  </div>
</div>
